# everything in node_modules is ignored, except for bundled dependencies. npm automatically handles this for you, so don't bother adding node_modules to . npmignore

# By default, the following paths and files are ignored, so there's no need to add them to .npmignore explicitly:
#
# .*.swp
# ._*
# .DS_Store
# .git
# .hg
# .npmrc
# .lock-wscript
# .svn
# .wafpickle-*
# config.gypi
# CVS
# npm-debug.log


# The following paths and files are never ignored, so adding them to .npmignore is pointless:
#
# package.json
# README (and its variants)
# CHANGELOG (and its variants)
# LICENSE / LICENCE


# Ignore test directory
test

# Ignore other files
sonar-project.properties
.github
.nyc_output
coverage

# IDE
.vscode