# According to https://docs.npmjs.com/files/package.json#files

# Files included with the “package.json#files” field cannot be excluded through .npmignore or .gitignore.

# Certain files are always included, regardless of settings:

# package.json
# README
# CHANGES / CHANGELOG / HISTORY
# LICENSE / LICENCE
# NOTICE
# The file in the “main” field
# README, CHANGES, LICENSE & NOTICE can have any case and extension.

# Conversely, some files are always ignored:

# .git
# CVS
# .svn
# .hg
# .lock-wscript
# .wafpickle-N
# .*.swp
# .DS_Store
# ._*
# npm-debug.log
# .npmrc
# node_modules
# config.gypi
# *.orig
# package-lock.json (use shrinkwrap instead)

# To check what will be included in package to be published, run
# npm publish --dry-run

# Ignore test directory
test

# Ignore other files
src
package-lock.json
sonar-project.properties
.github
.nyc_output
coverage
gulpfile

# IDE
.vscode